*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
}

h1{
    font-size: 52px;
    line-height: 1.1em;
    text-transform: uppercase;
}

h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 1em;
}

button{
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 32px;
    margin-top: 16px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 40px 20px;

}
header h2{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
header h2 span{
    color: #E02C6D;
}

.mobile-menu{
    display: none;
}
nav{
    display: flex;
    list-style: none;
}

nav{
    display: flex;
    list-style: none;
    gap: 48px;
}
header ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

header a{
    text-decoration: none;
    color: black;
}

header i{
    color: #E02C6D;
    font-size: 20px;
}

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
    padding: 80px 20px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image{
    background-image: url("./images/Group\ 33091\ \(1\).svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}
.logos{
    padding: 0 20px;
}

.logos-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f7f1ff;
    border-radius: 32px;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    row-gap: 32px;
}

.products{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.products h2{
    text-align: center;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.product-card{
    background-color: #f7f1ff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    padding-bottom: 32px;
}
.product-card h3{
    font-size: 24px;
    font-weight: 500;
}

.product-card img{
    width: 100%;
    border-radius: 16px;
}


.reviews-ratings{
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: #555;
}

.rating-star{
    color: rgb(255, 174, 0);
}

.cta-section{
    padding: 0 20px;
    margin-bottom: 80px;
}

.cta{
    padding: 16px;
    background-color: #f7f1ff;
    border-radius: 32px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.cta-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.cta-content h2{
    font-size: 36px;
}

.cta img{
    border-radius: 16px;
}

footer{
    background-color: #0b0827;
    padding: 80px 20px;
    text-align: center;
}

footer h2{
    font-size: 24px;
    text-transform: uppercase;
}

footer a{
    color: #fff;
    text-decoration: none
    ;
}

footer span{
    color: #E02C6D;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;

}

.social-icon{
    display: flex;
    gap: 20px;
}

.social-icon a{
    background-color: #16132e;
    /* line-height: 1; */
    padding: 8px;
    border-radius: 20px;
    aspect-ratio: 1;
    /* align-content: center; */
    transition: .3s;
}

.social-icon a:hover{
    background-color: #ffffff;
    color: #E02C6D;
}

.social-icon i{
    align-content: center;
    align-self: center;
    line-height: 1px;
}
