*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
}

h1{
    font-size: 52px;
    line-height: 1.1em;
    text-transform: uppercase;
}

button{
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 32px;
    margin-top: 16px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 40px 20px;

}
header h2{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
header h2 span{
    color: #E02C6D;
}

.mobile-menu{
    display: none;
}
nav{
    display: flex;
    list-style: none;
}

nav{
    display: flex;
    list-style: none;
    gap: 48px;
}
header ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

header a{
    text-decoration: none;
    color: black;
}

header i{
    color: #E02C6D;
    font-size: 20px;
}

.hero{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 80px 20px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image{
    background-image: url("./images/Group\ 33091\ \(1\).svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 40%;
}


.hero-image .hero-main-image{
    padding: 64px;
}

